/* Write your CSS here */
.list-ele {
  width: 45%;
  display: flex;
  margin: 7px;
  padding: 0px 20px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  justify-content: space-evenly;
  align-items: center;
  height: 13vh;
  background-color: #13418b;
  /* opacity: 0.6; */
  color: white;
  font-family: 'Roboto';
}
.team-img-logo {
  width: 40px;
  height: 40px;
}
.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}
.team-card-name {
  margin-left: 10px;
  font-weight: 700;
  font-size: 15px;
  color: #ffff;
}

@media (min-width: 600px) {
  .list-ele {
    width: 20%;
    margin: 10px;
  }
}
